<table width="100%" border="0">
    <tr>
        <td width="1000px" style="vertical-align: top;">
            <app-mentor-search></app-mentor-search>
        </td>

        <td>&nbsp;</td>

        <td style="vertical-align: top; width: 300px">
            <div class="rectangleBox">
                <form id="form2" name="form2">
                    <table border="0" width="100%">
                        <tr>
                            <td>
                                <h4 i18n="@@signin">Sign In</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label i18n="@@userName" for="userName">User Name</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="loginUserName" id="loginUserName" placeholder="User Name" class="requiredfield" type="text">
                                <br><span class="blankfield"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label i18n="@@password" for="password">Password</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" placeholder="Password" name="loginPassword" id="loginPassword"
                                    class="requiredfield" />
                                <br><span class="blankfield"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="rememberme" id="rememberme">
                                &nbsp;
                                <label i18n="@@rememberme" for="rememberme" style="width:80%">Keep me signed in</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()"
                                    (expire)="handleExpire()" (load)="handleLoad()" (success)="handleSuccess($event)"
                                    [size]="size" [hl]="lang" [theme]="theme" [type]="type" [(ngModel)]="reCaptcha"
                                    #captchaElem="ngModel" [ngModelOptions]="{standalone: true}">
                                </ngx-recaptcha2>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 50px;">
                                <button i18n="@@signin" (click)="signin()" class="loginbutton">Sign In</button>
                                &nbsp;&nbsp;
                                <a i18n="@@forgetPassword" (click)="forgetPassword()">Forget Password?</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </td>
    </tr>
</table>

<div class="wait" id="wait"></div>